*.pyc
.idea
.vscode
.vscode/settings.json
aiff_learning.py
mypy.ini
venv
ffmpeg
input
output
result.csv
source/simpleaudio-1.0.4-cp310-cp310-win_amd64.whl
source/build/nsis
app
Nback-cache
Nback-SetupFiles
settings.ini
build/app
myvenv
source/test.py
learning_pyqt6.py
tempCodeRunnerFile.py
this_is_a_test_delete_me.py
tdt.log